html {
  height: 100%;
  width: 100%;
}

.icon {
  float: left;
}

.img {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  float: left;
  text-align: left;
}

.centre {
  text-align: center;
}

.centre2 {
  margin-left: auto;
  margin-right: auto;
}

.centre3 {
  text-align: center;
  background-color: #ffffff;
}

.left {
  text-align: left;
}

.wide-table {
  width: 100%;
  max-width: 800px;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}
